<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.pet.mapper.ReservationMapper">
  
  <insert id="reservation">
  		insert into reservation values(#{num}, #{username}, #{pettype}, #{petweight}, #{petcount}, #{petinfo}, #{startdate}, #{enddate}, #{resdate}, #{price}, #{resnum}, 0)
  </insert>

	<select id = "reservationCon" resultType = "int">
		select count(*) from reservation where condition = ${condition}
	</select>
  </mapper>